/* CUSTOM PROPERTIES */

:root {

    /* FONTS */



    /* COLORS */



    /* OTHER */



}

/* GENERAL STYLES */

body {
    background: white;
    color: black;
    margin: 0;
}

button {
    
}

/* INTRODUCTION */



/* ABOUT ME */



/* FOOTER */


