/* CUSTOM PROPERTIES */

:root {

    /* FONTS */

    --header-fonts: Cambria, Georgia, serif;
    --paragraph-fonts: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    --h1-size: 3rem;
    --h2-size: 2.5rem;
    --h8-size: 1.125rem;
    --paragraph-size: 1rem;

    /* COLORS */

    --primary-color: snow;
    --secondary-color: darkslategray;
    --accent-color: lightskyblue;

    /* OTHER */



}

/* GENERAL STYLES */

body {
    background: white;
    color: black;
    margin: 0;
}

h1,
h2,
h8 {
    font-family: var(--header-fonts);
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

h8 {
    font-size: var(--h8-size);
}

p {
    font-family: var(--paragraph-fonts);
    font-size: var(--paragraph-size);
}

/* INTRODUCTION */

.intro {
    background: var(--primary-color);
}

/* ABOUT ME */

.about-me {
    background: var(--secondary-color);
}

/* FOOTER */

.footer {
    background: var(--accent-color);
}
