/* CUSTOM PROPERTIES */

:root {

    /* FONTS */

    --header-fonts: "Cambria";
    --paragraph-fonts: "Courier New";
    --h1-size: 3rem;
    --h8-size: 1.125rem;
    --paragraph-size: 1rem;

    /* COLORS */

    --primary-color: snow;
    --secondary-color: darkslategray;
    --accent-color: lightskyblue;

    /* OTHER */



}

/* GENERAL STYLES */

body {
    background: white;
    color: black;
    margin: 0;
}

/* INTRODUCTION */



/* ABOUT ME */



/* FOOTER */


